@import "tailwindcss";

/* RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

/* Base typography */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  color: #0f172a; /* slate-900 */
}

/* Links */
a {
  text-decoration: none;
}

/* Buttons reset (Tailwind handles styles) */
/* button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
} */
